@import './base.css';
body{
  background-image: url(/pattern.jpg);
}


li{
  list-style: none;
  text-decoration: none;
  color: black;
}
a{

  text-decoration: none;
  color: black;
}

a:hover{
  font-size: large;
}